node_modules/
dist/
dist-app/
*.db
*.db-journal
*.db-wal
*.db-shm
.DS_Store
Thumbs.db
.env
*.log
# build/icon.icns (Comentado para permitir su subida)
# build/icon.ico
# build/icon.png

Ejecutables/
coverage/
*.tgz
